@use "../utils/abstracts" as *;

.js-spoiler-content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height $duration ease, opacity $duration ease;
}
.js-spoiler-item.active .js-spoiler-content {
  opacity: 1;
}
