@use "../utils/abstracts" as *;

.footer {
	color: $c-FFFFFF;
	background-color: $c-23293F;
	&__container {
		padding: rem(128) 0 rem(32);
	}
	&__body {
		display: grid;
		grid-template-columns: auto repeat(2, 1fr);
		grid-template-areas:
			"logo . links"
			"nav . form"
			"privacy . socials";
		gap: rem(96);
		@include content-width();
	}
	&__logo {
		grid-area: logo;
		display: block;
		&-container {
			max-width: rem(720);
			min-width: rem(340);
			translate: 0 -20%;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__links {
		grid-area: links;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-item {
			white-space: nowrap;
			@include hover-underline($color: $c-FFFFFF);
			&--tel {
				font-size: lineScale(40, 24, 480, 1792);
				line-height: 1;
				font-weight: $fw-s;
			}
			&--mail {
				font-size: rem(24);
				line-height: 1;
				font-weight: $fw-m;
			}
		}
	}
	&__nav {
		grid-area: nav;
		display: flex;
		justify-content: space-between;
		gap: 0 rem(32);
		&-list {
			display: flex;
			flex-direction: column;
			gap: rem(16);
		}
		&-item {
			text-transform: uppercase;
			font-size: lineScale(24, 18, 480, 1792);
			font-weight: $fw-b;
			@include hover-underline($color: $c-FFFFFF);
		}
	}
	&__form {
		grid-area: form;
		display: flex;
		flex-direction: column;
		gap: rem(32);
		&-title {
			max-width: 40ch;
			font-size: lineScale(18, 16, 480, 1792);
			line-height: 120%;
			font-weight: $fw-m;
		}
		&-body {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(8);
			border-bottom: rem(2) solid rgba($c-C0CED7, 0.25);
			transition: border-color $duration;
			@media (pointer: fine) {
				&:hover {
					border-color: $c-FFFFFF;
				}
			}
			&:has(.footer__form-input:focus) {
				border-color: $c-FFFFFF;
			}
		}
		&-inputbox {
			width: 100%;
			height: fit-content;
			position: relative;
			display: flex;
			flex-direction: column;
			transition: $duration;
			&:has(.footer__form-input:hover) .footer__form-label {
				color: $c-FFFFFF;
			}
			&:has(.footer__form-input:focus) .footer__form-label,
			&:has(.footer__form-input:not([data-input-tel]):not(:placeholder-shown)) .footer__form-label,
			&:has([data-input-tel].filled) .footer__form-label {
				translate: 0 0;
				color: rgba($c-C0CED7, 0.25);
				font-size: lineScale(14, 12, 480, 1792);
			}
		}
		&-label {
			position: absolute;
			left: 0;
			top: 0;
			translate: 0 1.5rem;
			color: rgba($c-C0CED7, 0.5);
			font-size: lineScale(16, 14, 480, 1792);
			pointer-events: none;
			transition: all $duration;
		}
		&-input {
			width: 100%;
			min-width: rem(205);
			color: $c-FFFFFF;
			font-size: rem(16);
			padding: 1.8rem 0 0.5rem 0;
			background-color: transparent;
			transition: $duration;
			&::placeholder {
				opacity: 0;
				transition: all $duration;
			}
			&:focus {
				outline: none;
				&::placeholder {
					opacity: 1;
				}
			}
		}
		&-button {
			box-sizing: border-box;
			@include button-main($gap: rem(8), $font-size: lineScale(14, 12, 480, 1792), $padding: rem(10) rem(24), $border-color: $c-FFFFFF);
		}
	}
	&__privacy {
		grid-area: privacy;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(16);
		color: rgba($c-C0CED7, 0.25);
		font-size: rem(12);
		line-height: 1;
		font-weight: $fw-m;
		&-button {
			cursor: pointer;
			@include hover-underline($color: rgba($c-C0CED7, 0.25));
		}
	}
	&__socials {
		grid-area: socials;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
			font-size: rem(12);
			line-height: 1;
			color: $c-C0CED7;
			font-weight: $fw-m;
		}
		&-links {
			display: flex;
			align-items: center;
			gap: rem(8);
		}
		&-item {
			width: rem(40);
			height: rem(40);
			aspect-ratio: 1/1;
			border: rem(1) solid rgba($c-C0CED7, 0.1);
			border-radius: 50%;
			@include flex-center();
			&--telegram {
				@include tg-hover();
				i {
					translate: -10% 0;
				}
			}
			&--vk {
				@include vk-hover();
			}
		}
	}
	&__label {
		background: url("../assets/img/service/brick.svg");
		background-repeat: repeat;
		background-size: rem(48);
		border-top: rem(1) solid rgba($c-C0CED7, 0.2);

		&-container {
			@include content-width();
		}
		&-wrapper {
			width: fit-content;
			display: flex;
			align-items: end;
			gap: rem(8);
			padding: rem(24) 0;
		}
		&-image-container {
			width: rem(100);
			height: rem(16);
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&-desc {
			color: #585a66;
			font-size: rem(12);
			font-weight: $fw-m;
			line-height: 1;
		}
	}
}
@media (max-width: 1024px) {
	.footer {
		&__body {
			display: flex;
			flex-direction: column;
			gap: rem(64);
		}
		&__links {
			align-self: flex-end;
		}
		&__nav {
			justify-content: initial;
			gap: 0 rem(96);
		}
		&__form {
			gap: rem(0);
		}
	}
}
@media (max-width: 540px) {
	.footer {
		&__container {
			padding-top: rem(64);
		}
		&__links {
			align-self: initial;
		}
		&__nav {
			flex-direction: column;
			gap: rem(16);
		}
		&__form {
			gap: rem(32);
			&-body {
				flex-direction: column;
				gap: rem(16);
				border: none;
			}
			&-inputbox {
				border-bottom: rem(2) solid rgba($c-C0CED7, 0.25);
				transition: border-color $duration;
				&:has(.footer__form-input:focus) {
					border-color: $c-FFFFFF;
				}
			}
			&-button {
				width: 100%;
				@include flex-center();
			}
		}
	}
}
