@use "../utils/abstracts" as *;

.footer {
	color: $c-FFFFFF;
	background-color: $c-23293F;
	&__container {
	}
	&__body {
		@include content-width();
	}
	&__label {
		background: url("../assets/img/service/brick.svg");
		background-repeat: repeat;
		background-size: rem(48);
		@include content-width();
		&-container {
			width: fit-content;
			display: flex;
			align-items: end;
			gap: rem(8);
			padding: rem(24) 0;
		}
		&-image-container {
			width: rem(100);
			height: rem(16);
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&-desc {
			color: #585a66;
			font-size: rem(12);
			font-weight: $fw-m;
			line-height: 1;
		}
	}
}
