@use "../utils/abstracts" as *;

.footer {
	position: relative;
	z-index: 4;
	background-color: $c-23293F;
	&__container {
		padding: rem(128) rem(64) rem(64) rem(64);
		@include content-width();
	}
	&__label {
		padding: rem(24) 0;
		&-container {
			width: fit-content;
			display: flex;
			align-items: end;
			gap: rem(8);
		}
		&-image-container {
			width: rem(100);
			height: rem(16);
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&-desc {
			color: #585a66;
			font-size: rem(12);
			font-weight: $fw-m;
			line-height: 1;
		}
	}
}
