@use "variables" as *;
@use "functions" as *;

@mixin content-width() {
	max-width: 1792px;
	margin: 0 auto;
	padding: 0 rem(64);
	@media (max-width: 768px) {
		padding: 0 rem(32);
	}
}
@mixin block-padding($initial: rem(128), $break: rem(64)) {
	padding: $initial 0;
	@media (max-width: 768px) {
		padding: $break 0;
	}
}
@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin gradient-text($gradient: linear-gradient(90deg, black, white), $fallback-color: black) {
	color: $fallback-color;

	background: $gradient;
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
	color: transparent;
}
@mixin block-title() {
	text-transform: uppercase;
	font-size: lineScale(96, 24, 480, 1440);
	line-height: 1;
	font-weight: $fw-s;
	&--accent {
		color: $c-C0CED7;
	}
}
@mixin block-tag() {
	text-transform: uppercase;
	font-size: lineScale(24,16,480,1792);
	line-height: 1;
	font-weight: $fw-b;
	opacity: 0.9;
}
@mixin block-subtitle() {
	max-width: 32ch;
	font-size: lineScale(20, 14, 480, 1440);
	line-height: 150%;
	opacity: 0.8;
}
@mixin icon-hover($anim-direction: horizontal, $icon-size: auto, $duration: $duration, $timing: ease-in-out) {
	&--icon-wrapper {
		display: inline-block;
		overflow: hidden;
		width: $icon-size;
		height: $icon-size;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--icon {
		font-size: $icon-size;
		line-height: 1;
		will-change: transform, opacity;
	}
	&:hover {
		i {
			animation: $anim-direction $duration $timing;
		}
	}
	@keyframes horizontal {
		0% {
			translate: 0 0;
			opacity: 1;
		}
		45% {
			translate: 100% 0;
			opacity: 0;
		}
		55% {
			translate: -100% 0;
			opacity: 0;
		}
		100% {
			translate: 0 0;
			opacity: 1;
		}
	}
	@keyframes horizontal-reverse {
		0% {
			translate: 0 0;
			opacity: 1;
		}
		45% {
			translate: -100% 0;
			opacity: 0;
		}
		55% {
			translate: 100% 0;
			opacity: 0;
		}
		100% {
			translate: 0 0;
			opacity: 1;
		}
	}
	@keyframes vertical {
		0% {
			translate: 0 0;
			opacity: 1;
		}
		45% {
			translate: 0 100%;
			opacity: 0;
		}
		55% {
			translate: 0 -100%;
			opacity: 0;
		}
		100% {
			translate: 0 0;
			opacity: 1;
		}
	}
	@keyframes vertical-reverse {
		0% {
			translate: 0 0;
			opacity: 1;
		}
		45% {
			translate: 0 -100%;
			opacity: 0;
		}
		55% {
			translate: 0 100%;
			opacity: 0;
		}
		100% {
			translate: 0 0;
			opacity: 1;
		}
	}
	@keyframes diagonal {
		0% {
			translate: 0 0;
			opacity: 1;
		}
		45% {
			translate: 100% 100%;
			opacity: 0;
		}
		55% {
			translate: -100% -100%;
			opacity: 0;
		}
		100% {
			translate: 0 0;
			opacity: 1;
		}
	}
	@keyframes diagonal-reverse {
		0% {
			translate: 0 0;
			opacity: 1;
		}
		45% {
			translate: 100% -100%;
			opacity: 0;
		}
		55% {
			translate: -100% 100%;
			opacity: 0;
		}
		100% {
			translate: 0 0;
			opacity: 1;
		}
	}
}
@mixin button-main($gap: rem(16), $font-size: lineScale(18, 14, 480, 1440), $padding: rem(18) rem(32), $border-color: $c-23293F, $hover-bg: $c-FA1943, $hover-color: $c-FFFFFF) {
	position: relative;
	display: flex;
	align-items: center;
	gap: $gap;
	width: fit-content;
	border: rem(2) solid $border-color;
	font-size: $font-size;
	line-height: 1;
	padding: $padding;
	transition: all $duration;
	@include icon-hover();
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background-color: $hover-bg;
		transition: width $duration;
	}
	@media (pointer: fine) {
		&:hover {
			color: $hover-color;
			border-color: $hover-bg;
			&::before {
				width: 100%;
			}
		}
	}
}
@mixin hover-underline($color: $c-FA1943) {
	position: relative;
	width: fit-content;
	line-height: 150%;
	transition: color $duration;
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: rem(2);
		width: 0;
		background-color: $color;
		transition: $duration;
	}
	&:hover {
		color: $color;
		&::after {
			width: 100%;
		}
	}
}
@mixin tg-hover {
	transition: scale $duration $spring;
	will-change: scale;
	border-radius: 50%;
	@include flex-center();
	@media (pointer: fine) {
		&:hover {
			background-color: #229ed9;
			scale: 1.1;
		}
	}
}
@mixin vk-hover {
	transition: scale $duration $spring;
	will-change: scale;
	border-radius: 50%;
	@include flex-center();
	@media (pointer: fine) {
		&:hover {
			background-color: #0e7cff;
			scale: 1.1;
		}
	}
}
