// Colors
$c-FA1943: #FA1943;
$c-C0CED7: #C0CED7;
$c-23293F: #23293F;
$c-FFFFFF: #FFFFFF;
$c-000000: #000000;

$main-color: $c-FFFFFF;
$accent-color: $c-23293F;

// Other
$duration: 0.4s;
$spring: cubic-bezier(0.36, 1.5, 0.64, 1);

$fw-r: 400;
$fw-m: 500;
$fw-s: 600;
$fw-b: 700;
$fw-black: 900;

$border-radius: 2rem;