<dialog id="modal-menu" class="modal-menu">
	<button class="modal-menu__button" data-close-button aria-label="Закрыть меню">закрыть</button>
	<div class="modal-menu__container">
		<picture class="modal-menu__logo-container">
			<img class="modal-menu__logo" src="./assets/icons/logo/logo-icon.svg" alt="Логотип" />
		</picture>
		<nav class="modal-menu__nav">
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'index') {current}" href="index.html">НА ГЛАВНУЮ</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'about') {current}" href="about.html">АССОЦИАЦИЯ</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'faq') {current}" href="faq.html">ВОПРОСЫ</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'fields') {current}" href="fields.html">ДЕЯТЕЛЬНОСТЬ</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'docs') {current}" href="docs.html">ДОКУМЕНТЫ</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'blog') {current}" href="blog.html">ПРЕСС-ЦЕНТР</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'registry') {current}" href="registry.html">РЕЕСТР</a>
			<a class="modal-menu__nav-item @@if (typeof page !== 'undefined' && page === 'contacts') {current}" href="contacts.html">КОНТАКТЫ</a>
		</nav>
		<div class="modal-menu__info">
			<div class="modal-menu__info-border"></div>
			<div class="modal-menu__info-wrapper">
				<div class="modal-menu__info-hero">
					<ul class="modal-menu__info-desc">
						<li class="modal-menu__desc-item">Ассоциация</li>
						<li class="modal-menu__desc-item">Негосударственных</li>
						<li class="modal-menu__desc-item">Структур&nbsp;Безопасности</li>
					</ul>
					<button class="modal-menu__info-button" data-modal="application">
						<span>Стать частью ассоциации</span>
						<i class="modal-menu__info-button-icon icon-arrow"></i>
					</button>
				</div>
				<div class="modal-menu__info-connection">
					<a class="modal-menu__info-link modal-menu__info-link--tel" href="tel:8(846)243-90-90">8 (846) 243-90-90</a>
					<a class="modal-menu__info-link modal-menu__info-link--mail" href="mailto:hello@stroiguard.ru">hello@stroiguard.ru</a>
					<div class="modal-menu__info-socials">
						<a class="modal-menu__info-socials-item modal-menu__info-socials-item--vk" href=""><i class="modal-menu__info-socials-item-icon icon-vk"></i></a>
						<a class="modal-menu__info-socials-item modal-menu__info-socials-item--telegram" href=""><i class="modal-menu__info-socials-item-icon icon-telegram"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-menu__copyright">2025 &copy; Стройбезопасность. Все права защищены</div>
	</div>
</dialog>
