<dialog id="modal-application" class="modal-form">
	<div class="modal-form__container">
		<button class="modal-form__button" data-close-button aria-label="Закрыть окно"><i class="modal-form__button-icon icon-cross"></i></button>
		<div class="modal-form__title">Заказать обратный звонок</div>
		<form id="form-application" class="modal-form__form" action="" method="post">
			@@include('../form-input.html', { 'inputId': 'application-name', 'label': 'ФИО', 'type': 'text', 'placeholder': 'Иванов Иван Иванович', 'required': '' }) 
            @@include('../form-input.html', { 'inputId': 'application-custom-tel', 'label': 'Телефон', 'type': 'tel', 'placeholder': 'Ваш номер', 'required': 'true' })
			<div class="input__inputbox">
				<label class="input__label" for="application-custom">Чем мы можем помочь?</label>
				<textarea id="application-custom" class="input__input" placeholder="Ваш вопрос (опционально)"></textarea>
			</div>
			<div class="modal-form__form-agreement">
				<div class="modal-form__form-agreement-checkbox checkbox">
					<input type="checkbox" id="application-agreement" required />
				</div>
				<label class="modal-form__form-agreement-label" for="application-agreement"
					>Согласен
					<span class="modal-form__form-agreement-label-button" data-modal="privacy" role="button">с&nbsp;обработкой персональных данных</span>
					<span class="modal-form__form-agreement-label-button" data-modal="privacy" role="button">и&nbsp;политикой конфиденциальности</span>
				</label>
			</div>
            <button class="modal-form__form-button" type="submit" aria-label="Отправить">
                <span></span>
                <i class="modal-form__form-button-icon icon-arrow"></i>
            </button>
		</form>
	</div>
</dialog>
