<dialog id="modal-question" class="modal-form">
	<div class="modal-form__container">
		<button class="modal-form__button" data-close-button aria-label="Закрыть окно"><i class="modal-form__button-icon icon-cross"></i></button>
		<div class="modal-form__title">Задайте свой вопрос</div>
		<form id="form-question" class="modal-form__form" action="" method="post">
			@@include('../form-input.html', { 'inputId': 'question-name', 'label': 'Имя', 'type': 'text', 'placeholder': 'Иванов Иван Иванович', 'required': '' }) 
            @@include('../form-input.html', { 'inputId': 'question-tel', 'label': 'Телефон', 'type': 'tel', 'placeholder': 'Ваш номер', 'required': 'true' })
			<div class="input__inputbox">
				<label class="input__label" for="question-custom">Чем мы можем помочь?</label>
				<textarea id="question-custom" class="input__input" placeholder="Ваш вопрос (опционально)" required></textarea>
			</div>
            <div class="modal-form__form-agreement">
				<div class="modal-form__form-agreement-checkbox checkbox">
					<input type="checkbox" id="question-agreement" required />
				</div>
				<label class="modal-form__form-agreement-label" for="question-agreement"
					>Согласен
					<span class="modal-form__form-agreement-label-button" data-modal="privacy" role="button">с&nbsp;обработкой персональных данных</span>
					<span class="modal-form__form-agreement-label-button" data-modal="privacy" role="button">и&nbsp;политикой конфиденциальности</span>
				</label>
			</div>
            <button class="modal-form__form-button" type="submit" aria-label="Отправить">
                <span>Задать вопрос</span>
                <i class="modal-form__form-button-icon icon-arrow"></i>
            </button>
		</form>
	</div>
</dialog>
