@font-face {
	font-family: 'Onest';
	font-display: swap;
	src: url("../assets/fonts/Onest-Variable.woff2") format("woff2"), 
         url("../assets/fonts/Onest-Variable.woff") format("woff");
	font-weight: 350 900;
	font-style: normal;
}

@font-face {
	font-family: 'Rozovii Chulok';
	font-display: swap;
	src: url("../assets/fonts/Rozovii-Chulok.woff2") format("woff2"), 
         url("../assets/fonts/Rozovii-Chulok.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

html,
body {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}