@use "../utils/abstracts" as *;

.article {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: rem(96);
	@include block-padding($break: rem(128));
	> header {
		width: 100%;
		display: flex;
		flex-direction: column;
		@include content-width();
		button {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: rem(8);
			text-transform: uppercase;
			font-size: lineScale(18, 16, 480, 1792);
			font-weight: $fw-m;
			@include icon-hover(horizontal-reverse);
			i {
				font-size: rem(14);
				rotate: -180deg;
			}
		}
		h1 {
			max-width: 30ch;
			font-size: lineScale(64, 28, 480, 1792);
			line-height: 1;
			margin-top: rem(24);
		}
		time {
			align-self: flex-end;
			font-size: rem(14);
			line-height: 1;
			opacity: 0.5;
		}
		picture {
			width: 100%;
			height: rem(400);
			margin-top: rem(64);
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(64);
		@include content-width();
	}
	nav {
		position: relative;
		height: 100%;
		> div {
			position: sticky;
			top: rem(128);
			display: flex;
			flex-direction: column;
			gap: rem(8);
			padding: rem(32);
			border: rem(1) solid $c-C0CED7;
			p {
				text-transform: uppercase;
				font-size: rem(24);
				line-height: 1;
				font-weight: $fw-b;
				margin-bottom: rem(16);
			}
			a {
				font-size: rem(18);
				font-weight: $fw-m;
				@include hover-underline($color: $c-23293F);
			}
		}
	}
	&__body {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		gap: rem(96);
		> p {
			font-size: rem(24);
			line-height: 120%;
			font-weight: $fw-m;
		}
		> section {
			scroll-margin: rem(128);
			display: flex;
			flex-direction: column;
			gap: rem(16);
			font-size: lineScale(20, 18, 480, 1792);
			line-height: 150%;
			> h2 {
				font-size: lineScale(40, 24, 480, 1792);
				line-height: 1;
				margin-bottom: rem(8);
			}
			> ul,
			ol {
				display: flex;
				flex-direction: column;
				gap: rem(16);
				li {
					margin-left: rem(24);
				}
			}
			> ul {
				li {
					list-style: outside disc;
				}
			}
			> ol {
				li {
					list-style: outside decimal;
				}
			}
			> picture {
				width: 100%;
				height: rem(480);
				margin-top: rem(64);
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	> aside {
		@include content-width();
		section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(32);
			border: rem(3) solid $c-FA1943;
			border: {
				left: none;
				right: none;
			}
			padding: rem(64) 0;
			> div {
				flex: 0 1 60%;
				display: flex;
				flex-direction: column;
				gap: rem(32);
				h3 {
					font-size: lineScale(40, 24, 480, 1792);
					line-height: 1;
				}
				p {
					font-size: rem(18);
					line-height: 150%;
					opacity: 0.8;
				}
				a {
					@include button-main($border-color: $c-FA1943);
				}
			}
			> picture {
				width: rem(436);
				height: rem(436);
				aspect-ratio: 1/1;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.article {
		&__wrapper {
			grid-template-columns: repeat(2, auto);
		}
		&__body {
			grid-column: initial;
		}
		> aside {
			> section {
				> div {
					flex: initial;
				}
				picture {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.article {
		&__wrapper {
			grid-template-columns: 1fr;
			> nav {
				> div {
					border: none;
					padding: 0;
				}
			}
		}
	}
}
@media (max-width: 540px) {
	.article {
		> header {
			picture {
				position: relative;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
					width: auto;
				}
			}
		}
		&__body {
			> section {
				picture {
					position: relative;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						translate: -50% -50%;
						width: auto;
					}
				}
			}
		}
		> aside {
			> section {
				> div {
					a {
                        width: 100%;
                        @include flex-center();
                    }
				}
			}
		}
	}
}
