@use "../utils/abstracts" as *;

.blog {
	@include block-padding($break: rem(128));
	&__container {
		@include content-width();
	}
	&__titlebox {
		position: relative;
		padding-bottom: rem(128);
		@media (max-width: 768px) {
			padding-bottom: rem(64);
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: rem(8);
			background-color: $c-FA1943;
		}
	}
	&__title {
		@include block-title();
	}
	&__body {
		padding-top: rem(128);
		@media (max-width: 768px) {
			padding-top: rem(64);
		}
	}
	&__filterbox {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
	&__filter {
		cursor: pointer;
		position: relative;
		width: 100%;
		font-size: rem(14);
		line-height: 1;
		border: rem(1) solid $c-C0CED7;
		border-bottom: none;
		padding: rem(20) 0;
		text-align: center;
		transition: all $duration;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: $c-FA1943;
			transition: width $duration;
		}
		&.active {
			background-color: $c-23293F;
			color: $c-FFFFFF;
			pointer-events: none;
			&::before {
				transition: 0;
			}
		}
		@media (pointer: fine) {
			&:not(.active):hover {
				color: $c-FFFFFF;
				&::before {
					width: 100%;
				}
			}
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	&__item {
		box-sizing: border-box;
		position: relative;
		&:nth-child(even) {
			border: rem(1) solid $c-C0CED7;
		}
		&:nth-child(9n + 3) {
			grid-row: span 2;
		}
		&:nth-child(9n + 9) {
			grid-column: span 2;
		}
		@media (pointer: fine) {
			&:hover {
				color: $c-FFFFFF;
				.blog__item-image-container {
					scale: 1;
					opacity: 1;
				}
				.blog__item-title,
				.blog__item-date {
					opacity: 1;
					color: $c-FFFFFF;
				}
				.blog__item-button {
					color: $c-FFFFFF;
					&::before {
						opacity: 1;
					}
				}
			}
		}
		&-wrapper {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: rem(96);
			border: rem(1) solid $c-C0CED7;
			padding: rem(32);
		}
		&-image-container {
			position: absolute;
			z-index: -1;
			inset: 0;
			width: 100%;
			height: 100%;
			scale: 0.95;
			opacity: 0;
			pointer-events: none;
			transition: opacity $duration, scale $duration;
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				inset: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, rgba($c-FA1943, 0.5), rgba($c-84061D, 0.15));
				pointer-events: none;
			}
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(100%) brightness(40%);
		}
		&-titlebox {
			display: flex;
			flex-direction: column;
			gap: rem(16);
		}
		&-date {
			font-size: rem(14);
			opacity: 0.5;
			transition: all $duration;
		}
		&-title {
			font-size: lineScale(24, 16, 480, 1792);
			line-height: 1;
			transition: color $duration;
		}

		&-button {
			display: flex;
			align-items: center;
			gap: rem(8);
			text-transform: uppercase;
			font-size: lineScale(20, 14, 480, 1792);
			line-height: 1;
			overflow: hidden;
			@include hover-underline();
			@include icon-hover();
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: rem(2);
				background-color: $c-FFFFFF;
				opacity: 0;
				transition: width $duration;
			}
			@media (pointer: fine) {
				&:hover {
					&::before {
						translate: rem(8) 0;
						width: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.blog {
		&__filterbox {
			display: flex;
			flex-wrap: wrap;
			gap: rem(16);
		}
		&__filter {
			width: fit-content;
			border-radius: rem(32);
			padding: rem(8) rem(24);
			border-bottom: rem(1) solid $c-C0CED7;
		}
		&__list {
			grid-template-columns: repeat(2, 1fr);
			margin-top: rem(32);
		}
	}
}
@media (max-width: 540px) {
	.blog {
		&__list {
			grid-template-columns: 1fr;
		}
		&__item {
				border: rem(1) solid $c-C0CED7;
			&:nth-child(9n + 3) {
				grid-row: initial;
			}
			&:nth-child(9n + 9) {
				grid-column: initial;
			}
		}
	}
}
