@use "../utils/abstracts" as *;

.index-hero {
	min-height: 100lvh;
	padding: rem(96) 0 rem(64) 0;
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		justify-content: space-between;
		gap: rem(32);
	}
	&__title {
		display: grid;
		grid-template-columns: min-content auto;
		grid-template-rows: repeat(2, max-content);
		grid-template-areas:
			"logo title"
			"logo subtitle";
		gap: lineScale(32, 16, 480, 1792);
		transition: all $duration;
		&.scroll {
			.index-hero__title-logo-container {
				scale: 0.4;
				opacity: 0;
				translate: -25% -50%;
			}
			.index-hero__title-title {
				scale: 0.4;
				opacity: 0;
				translate: -25% -50%;
			}
			.index-hero__title-subtitle {
				translate: -25% 0;
			}
		}
		&-logo-container {
			grid-area: logo;
			position: relative;
			width: lineScale(152, 52, 480, 1792);
			transition: all $duration;
		}
		&-logo {
			position: absolute;
			left: 0;
			top: 0;
			translate: 0 -25%;
			width: 100%;
		}
		&-title {
			grid-area: title;
			height: fit-content;
			text-transform: uppercase;
			font-size: lineScale(64, 24, 480, 1792);
			line-height: 1;
			font-weight: $fw-black;
			transition: all $duration;
		}
		&-subtitle {
			grid-area: subtitle;
			max-width: 30ch;
			font-size: lineScale(36, 18, 480, 1792);
			line-height: 120%;
			font-weight: $fw-m;
			transition: translate $duration;
		}
	}
	&__desc {
		align-self: flex-end;
		max-width: 35ch;
		font-size: lineScale(20, 16, 480, 1792);
		line-height: 150%;
		&-accent {
			color: $c-FA1943;
		}
	}
	&__slider-container {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, auto);
		padding-top: rem(32);
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 15%;
			left: 0;
			width: 100%;
			height: rem(8);
			background-color: $c-FA1943;
		}
	}
	&__slider {
		width: 100%;
		&-controls {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			&-wrapper {
				display: flex;
				align-items: center;
				gap: rem(16);
			}
		}
		&-nav {
			display: flex;
			align-items: center;
			gap: rem(8);
		}
		&-button {
			position: relative;
			inset: 0;
			width: rem(48);
			height: rem(48);
			aspect-ratio: 1/1;
			border: rem(1.5) solid $c-23293F;
			border-radius: 50%;
			color: inherit;
			margin: 0;
			padding: 0;
			transition: all $duration;
			@include flex-center();
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					background-color: $c-FA1943;
					border-color: transparent;
					&::before {
						scale: 1.1;
					}
				}
			}
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: inherit;
				pointer-events: none;
				transition: scale $duration;
			}
			&--prev {
				rotate: -180deg;
			}
		}
		&-pagination {
			position: static;
			width: fit-content;
			color: inherit;
			font-size: lineScale(14, 12, 480, 1792);
		}
	}
	&__slide {
		&.swiper-slide-active {
			.index-hero__slide-background {
				scale: 1;
			}
			.index-hero__slide-image {
				scale: 1;
				translate: 0 0;
			}
		}
		&-wrapper {
			display: grid;
			grid-template-columns: minmax(0, rem(900)) minmax(rem(420), 0);
			align-items: flex-end;
			gap: rem(32);
		}
		&-media {
			position: relative;
			aspect-ratio: 16/9;
		}
		&-background-container {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			user-select: none;
		}
		&-background {
			position: absolute;
			z-index: -1;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 75%;
			object-fit: cover;
			object-position: bottom;
			// filter: blur(2px);
			scale: 1.05;
			will-change: scale;
			transition: all 1s;
		}
		&-image-container {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			user-select: none;
			overflow: hidden;
		}
		&-image {
			width: 100%;
			height: 110%;
			object-fit: cover;
			vertical-align: bottom;
			scale: 0.9;
			translate: 0 10%;
			will-change: scale;
			transition: all 1.2s;
		}
		&-title {
			text-transform: uppercase;
			font-size: rem(24);
			line-height: 1;
			font-weight: $fw-b;
		}
		&-desc {
			font-size: rem(16);
			opacity: 0.5;
			margin-top: rem(16);
		}
		&-button {
			box-sizing: border-box;
			margin-top: 10%;
			@include button-main();
		}
	}
}
.index-activity {
	@include block-padding();
	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(64);
		@include content-width();
	}
	&__titlebox {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: rem(32);
	}
	&__title {
		@include block-title();
	}
	&__subtitle {
		@include block-subtitle();
	}
	&__button {
		align-self: flex-end;
		width: fit-content;
		display: flex;
		align-items: center;
		gap: rem(8);
		font-size: lineScale(16, 14, 480, 1792);
		line-height: 1;
		font-weight: $fw-m;
		@include hover-underline();
		@include icon-hover(horizontal);
	}
	&__body {
		margin-top: rem(32);
		overflow-x: auto;
		&.dragging {
			cursor: grabbing;
		}
		&-container {
			min-width: fit-content;
			display: grid;
			grid-template-columns: repeat(4, minmax(rem(322), rem(436)));
			gap: rem(16);
		}
	}
	&__item {
		border: rem(1.5) solid $c-C0CED7;
		padding: rem(32);
		user-select: none;
		&-image-container {
			aspect-ratio: 1/1;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-title {
			text-transform: uppercase;
			font-size: lineScale(24, 16, 1024, 1792);
			line-height: 1;
			font-weight: $fw-b;
			margin-top: rem(48);
		}
		&-desc {
			font-size: lineScale(16, 14, 1024, 1792);
			line-height: 150%;
			margin-top: rem(24);
		}
	}
}
.index-about {
	@include block-padding();
	&__container {
		position: relative;
		display: grid;
		grid-template-columns: 20% auto 10%;
		gap: rem(32);
		@include content-width();
	}
	&__tag {
		@include block-tag();
	}
	&__body {
		position: relative;
		padding-top: rem(64);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: rem(8);
			background-color: $c-FA1943;
		}
	}
	&__title {
		font-size: lineScale(40, 24, 480, 1792);
		line-height: 1;
		font-weight: $fw-m;
	}
	&__desc {
		max-width: 60ch;
		font-size: lineScale(18, 14, 480, 1792);
		line-height: 150%;
		font-weight: $fw-m;
		margin-top: rem(32);
	}
	&__cite-container {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	&__cite {
		width: 100%;
		min-width: rem(128);
		translate: 0 50%;
	}
}
.index-partners {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__titlebox {
		margin-bottom: rem(64);
	}
	&__title {
		@include block-tag();
	}
}
.index-feedback {
	@include block-padding();
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(96);
	}
	&__titlebox {
		display: flex;
		align-items: flex-end;
		gap: rem(32);
		@include content-width();
	}
	&__title {
		@include block-title();
	}
	&__subtitle {
		@include block-subtitle();
	}
	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		font-size: lineScale(16, 14, 480, 1792);
		@include hover-underline();
	}
}
.index-supports {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__titlebox {
		position: relative;
		@include flex-center();
	}
	&__title {
		isolation: isolate;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		text-transform: uppercase;
		font-size: lineScale(96, 56, 480, 1792);
		line-height: 1;
		font-weight: $fw-s;
		text-align: center;
		&-accent {
			color: $c-FA1943;
		}
		&--mask {
			width: 100%;
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			color: $c-FFFFFF;
			text-transform: uppercase;
			font-size: lineScale(96, 56, 480, 1792);
			line-height: 1;
			font-weight: $fw-s;
			text-align: center;
			clip-path: ellipse(145px 145px at 50% 50%);
		}
	}
	&__card {
		max-width: rem(318);
		background-color: $c-FFFFFF;
		padding: rem(16) rem(16) rem(32);
		rotate: 6deg;
		&-image-container {
			position: relative;
			width: 100%;
			aspect-ratio: 1/1;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-desc {
			font-family: "Rozovii Chulok", sans-serif;
			font-size: lineScale(32, 24, 480, 1792);
			line-height: 1;
			padding: rem(16);
			opacity: 0.5;
			rotate: -6deg;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 70% auto;
		gap: rem(64);
		margin-top: rem(128);
	}
	&__slider {
		width: 100%;
	}
	&__slide {
		position: relative;
		@media (pointer: fine) {
			&:hover {
				.index-supports__slide-button {
					&::before {
						scale: 1.1;
						opacity: 1;
					}
				}
			}
		}
		&-media {
			display: block;
			width: 100%;
			aspect-ratio: 16/9;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: sepia(0.8) saturate(120%);
		}
		&-button {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			padding: rem(24) rem(22) rem(24) rem(26);
			border-radius: 50%;
			color: $c-FFFFFF;
			font-size: rem(24);
			background-color: $c-FA1943;
			pointer-events: none;
			@include flex-center();
			&::before {
				content: "";
				box-sizing: border-box;
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: transparent;
				border: rem(4) solid $c-FFFFFF;
				opacity: 0;
				transition: all $duration;
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(32);
	}
	&__controls {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__pagination {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: lineScale(16, 12, 480, 1792);
		line-height: 1;
	}
	&__navigation {
		display: flex;
		align-items: center;
		gap: rem(8);
		&-button {
			position: relative;
			inset: 0;
			width: rem(48);
			height: rem(48);
			aspect-ratio: 1/1;
			border: rem(1.5) solid $c-23293F;
			border-radius: 50%;
			color: inherit;
			margin: 0;
			padding: 0;
			transition: all $duration;
			@include flex-center();
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					background-color: $c-FA1943;
					border-color: transparent;
					&::before {
						scale: 1.1;
					}
				}
			}
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: inherit;
				pointer-events: none;
				transition: scale $duration;
			}
			&--prev {
				rotate: -180deg;
			}
		}
	}
	&__desc {
		display: flex;
		flex-direction: column;
		gap: rem(64);
	}
	&__text {
		font-size: lineScale(24, 16, 480, 1792);
		line-height: 150%;
		font-weight: $fw-m;
	}
	&__button {
		box-sizing: border-box;
		@include button-main();
	}
}
.index-news {
	@include block-padding();
	&__container {
		@include content-width();
	}
}
.index-invite {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		gap: rem(64);
		border: rem(16) solid $c-FA1943;
		padding: lineScale(32, 16, 480, 1792) lineScale(96, 32, 480, 1792);
		color: $c-FFFFFF;
		background-color: $c-23293F;
		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			height: 100%;
			aspect-ratio: 1/1;
			background: url("../assets/img/service/brick.svg");
			background-repeat: repeat;
			background-size: rem(48);
			clip-path: polygon(100% 0, 0 0, 0 100%);
		}
	}
	&__image-container {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		max-width: rem(400);
		border-radius: 0 0 rem(256) rem(256);
		background: linear-gradient(to top, $c-C0CED7 75%, transparent 75%);
		overflow: hidden;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__title {
		font-size: lineScale(48, 24, 480, 1792);
		line-height: 1;
		font-weight: $fw-b;
	}
	&__desc {
		font-size: lineScale(24, 14, 480, 1792);
		line-height: 150%;
		font-weight: $fw-m;
		margin-top: rem(24);
	}
	&__button {
		box-sizing: border-box;
		margin-top: rem(96);
		@include button-main($border-color: $c-FA1943);
	}
}
@media (max-width: 1240px) {
	.index-hero {
		&__slider-container {
			display: flex;
			flex-direction: column;
		}
	}
	.index-supports {
		&__body {
			display: flex;
			flex-direction: column;
		}
	}
}
@media (max-width: 1024px) {
	.index-hero {
		&__titlebox {
			flex-direction: column;
		}
		&__slider {
			&-controls {
				position: absolute;
				z-index: 2;
				bottom: 20%;
				right: 0;
			}
		}
		&__slide {
			&-wrapper {
				grid-template-columns: repeat(2, 1fr);
			}
			&-media {
				grid-column: span 2;
			}
		}
	}
	.index-about {
		&__container {
			grid-template-columns: repeat(2, auto);
		}
		&__cite-container {
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: 0;
			translate: 0 0;
			opacity: 0.25;
		}
	}
	.index-feedback {
		&__titlebox {
			flex-direction: column;
			align-items: initial;
		}
		&__subtitle {
			max-width: initial;
		}
		&__item {
			&-wrapper {
				grid-template-columns: repeat(2, 1fr) minmax(rem(210), 0);
			}
			&-title {
				grid-column: span 2;
			}
			&-image-container {
				translate: -20% -50%;
			}
		}
	}
	.index-invite {
		&__wrapper {
			padding: rem(64) rem(32);
			flex-direction: column-reverse;
			&::before {
				width: 100%;
				height: auto;
			}
		}
	}
}
@media (max-width: 768px) {
	.index-activity {
		&__titlebox {
			flex-direction: column;
			align-items: flex-start;
		}
		&__subtitle {
			max-width: initial;
		}
	}
	.index-about {
		&__container {
			display: flex;
			flex-direction: column;
		}
		&__cite-container {
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: 0;
			translate: 0 0;
			opacity: 0.25;
		}
	}
}
@media (max-width: 540px) {
	.index-hero {
		&__desc {
			align-self: initial;
			max-width: initial;
		}
		&__slider {
			&-container {
				gap: rem(32);
				&::before {
					top: 10%;
				}
			}
			&-controls {
				position: static;
			}
		}
		&__slide {
			&-wrapper {
				grid-template-columns: 1fr;
			}
			&-media {
				grid-column: initial;
			}
			&-button {
				width: 100%;
				@include flex-center();
			}
		}
	}
	.index-feedback {
		&__item {
			&-label,
			&-date {
				grid-column: span 2;
			}
		}
	}
	.index-supports {
		&__button {
			width: 100%;
			@include flex-center();
		}
	}
	.index-invite {
		padding-bottom: 0;
		&__container {
			max-width: initial;
			padding: 0;
		}
		&__wrapper {
			border: {
				left: none;
				right: none;
				bottom: none;
			};
		}
		&__button {
			width: 100%;
			@include flex-center();
		}
	}
}
