<header class="header @@if (typeof type !== 'undefined' && type === 'no-logo') {no-logo}">
	<div class="header__container">
		<a href="index.html" class="header__logo">
			<picture class="header__logo-container">
				<img class="header__logo-image" src="./assets/icons/logo/logo-main.svg" alt="Стройбезопасность" />
			</picture>
		</a>
		<div class="header__controls">
			<a class="header__controls-item header__controls-item--tel" href="contacts.html">8 800 555-55-35</a>
			<button class="header__controls-item header__controls-item--connection" data-modal="connection">СВЯЗАТЬСЯ С НАМИ</button>
			<button class="header__controls-item header__controls-item--burger" data-modal="menu">МЕНЮ</button>
		</div>
	</div>
</header>
@@include('../components/modals/modal-menu.html', { 'page': '@@page' })
@@include('../components/modals/modal-privacy.html')
@@include('../components/modals/modal-application.html')
@@include('../components/modals/modal-question.html')
