<div class="news-slider">
    <div class="news-slider__titlebox">
        <h2 class="news-slider__title"></h2>
        <a class="news-slider__link" href="blog.html"><i class="news-slider__link-icon icon-arrow"></i></a>
        <div class="news-slider__nav">
            <button class="news-slider__nav-button news-slider__nav-button-- swiper-button-"><i class="news-slider__nav-button-icon icon-arrow"></i></button>
            <button class="news-slider__nav-button news-slider__nav-button-- swiper-button-"><i class="news-slider__nav-button-icon icon-arrow"></i></button>
        </div>
    </div>
	<div class="news-slider__slider swiper">
		<div class="news-slider__slider-wrapper swiper-wrapper">
            <div class="news-slider__slide">
                <picture class="news-slider__slide-image-container">
                    <img class="news-slider__slide-image" src="" alt="#">
                </picture>
                <p class="news-slider__slide-title"></p>
                <p class="news-slider__slide-subtitle"></p>
                <a class="news-slider__slide-link" href="article.html"><i class="news-slider__slide-link-icon icon-arrow"></i></a>
            </div>
        </div>
	</div>
</div>
