<div class="news-slider">
	<div class="news-slider__info">
		<div class="news-slider__titlebox">
			<h2 class="news-slider__title">новости</h2>
			<a class="news-slider__link" href="blog.html">Пресс-центр<i class="news-slider__link-icon icon-arrow"></i></a>
		</div>
		<div class="news-slider__nav">
			<button class="news-slider__nav-button news-slider__nav-button--prev swiper-button-prev"><i class="news-slider__nav-button-icon icon-arrow"></i></button>
			<button class="news-slider__nav-button news-slider__nav-button--next swiper-button-next"><i class="news-slider__nav-button-icon icon-arrow"></i></button>
		</div>
	</div>
	<div class="news-slider__slider swiper">
		<div class="news-slider__slider-wrapper swiper-wrapper">
			<div class="news-slider__slide swiper-slide">
				<picture class="news-slider__slide-image-container">
					<img class="news-slider__slide-image" src="./assets/img/content/articles/example.jpg" alt="#" />
				</picture>
				<div class="news-slider__slide-titlebox">
					<p class="news-slider__slide-title">Громкий дело: банкротство известного предпринимателя</p>
					<p class="news-slider__slide-subtitle">В резонансном деле один из ведущих бизнесменов страны объявил себя банкротом, вызвав общественный резонанс. Судебный процесс привлёк внимание СМИ: эксперты обсуждают, как этот случай может повлиять на бизнес-среду и изменить подход к решению долговых проблем.</p>
				</div>
				<a class="news-slider__slide-link" href="article.html">ЧИТАТЬ<i class="news-slider__slide-link-icon icon-arrow"></i></a>
			</div>
			<div class="news-slider__slide swiper-slide">
				<picture class="news-slider__slide-image-container">
					<img class="news-slider__slide-image" src="./assets/img/content/articles/example1.jpg" alt="#" />
				</picture>
				<div class="news-slider__slide-titlebox">
					<p class="news-slider__slide-title">Влияние искусственного интеллекта на рынок труда</p>
					<p class="news-slider__slide-subtitle">В резонансном деле один из ведущих бизнесменов страны объявил себя банкротом, вызвав общественный резонанс. Судебный процесс привлёк внимание СМИ: эксперты обсуждают, как этот случай может повлиять на бизнес-среду и изменить подход к решению долговых проблем.</p>
				</div>
				<a class="news-slider__slide-link" href="article.html">ЧИТАТЬ<i class="news-slider__slide-link-icon icon-arrow"></i></a>
			</div>
			<div class="news-slider__slide swiper-slide">
				<picture class="news-slider__slide-image-container">
					<img class="news-slider__slide-image" src="./assets/img/content/articles/example.jpg" alt="#" />
				</picture>
				<div class="news-slider__slide-titlebox">
					<p class="news-slider__slide-title">Громкий дело: банкротство известного предпринимателя</p>
					<p class="news-slider__slide-subtitle">В резонансном деле один из ведущих бизнесменов страны объявил себя банкротом, вызвав общественный резонанс. Судебный процесс привлёк внимание СМИ: эксперты обсуждают, как этот случай может повлиять на бизнес-среду и изменить подход к решению долговых проблем.</p>
				</div>
				<a class="news-slider__slide-link" href="article.html">ЧИТАТЬ<i class="news-slider__slide-link-icon icon-arrow"></i></a>
			</div>
			<div class="news-slider__slide swiper-slide">
				<picture class="news-slider__slide-image-container">
					<img class="news-slider__slide-image" src="./assets/img/content/articles/example1.jpg" alt="#" />
				</picture>
				<div class="news-slider__slide-titlebox">
					<p class="news-slider__slide-title">Влияние искусственного интеллекта на рынок труда</p>
					<p class="news-slider__slide-subtitle">В резонансном деле один из ведущих бизнесменов страны объявил себя банкротом, вызвав общественный резонанс. Судебный процесс привлёк внимание СМИ: эксперты обсуждают, как этот случай может повлиять на бизнес-среду и изменить подход к решению долговых проблем.</p>
				</div>
				<a class="news-slider__slide-link" href="article.html">ЧИТАТЬ<i class="news-slider__slide-link-icon icon-arrow"></i></a>
			</div>
			<div class="news-slider__slide swiper-slide">
				<picture class="news-slider__slide-image-container">
					<img class="news-slider__slide-image" src="./assets/img/content/articles/example.jpg" alt="#" />
				</picture>
				<div class="news-slider__slide-titlebox">
					<p class="news-slider__slide-title">Громкий дело: банкротство известного предпринимателя</p>
					<p class="news-slider__slide-subtitle">В резонансном деле один из ведущих бизнесменов страны объявил себя банкротом, вызвав общественный резонанс. Судебный процесс привлёк внимание СМИ: эксперты обсуждают, как этот случай может повлиять на бизнес-среду и изменить подход к решению долговых проблем.</p>
				</div>
				<a class="news-slider__slide-link" href="article.html">ЧИТАТЬ<i class="news-slider__slide-link-icon icon-arrow"></i></a>
			</div>
			<div class="news-slider__slide swiper-slide">
				<picture class="news-slider__slide-image-container">
					<img class="news-slider__slide-image" src="./assets/img/content/articles/example1.jpg" alt="#" />
				</picture>
				<div class="news-slider__slide-titlebox">
					<p class="news-slider__slide-title">Влияние искусственного интеллекта на рынок труда</p>
					<p class="news-slider__slide-subtitle">В резонансном деле один из ведущих бизнесменов страны объявил себя банкротом, вызвав общественный резонанс. Судебный процесс привлёк внимание СМИ: эксперты обсуждают, как этот случай может повлиять на бизнес-среду и изменить подход к решению долговых проблем.</p>
				</div>
				<a class="news-slider__slide-link" href="article.html">ЧИТАТЬ<i class="news-slider__slide-link-icon icon-arrow"></i></a>
			</div>
		</div>
	</div>
</div>
