@use "../../utils/abstracts" as *;

.modal-privacy {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: rem(680);
	height: 100lvh;
	overflow-y: auto;
	pointer-events: none;
	color: $main-color;
	background-color: $c-23293F;
	translate: -100% 0;
	transition: translate $duration;
	&.anim {
		translate: 0 0;
		pointer-events: auto;
		&::backdrop {
			background-color: rgba($c-000000, 0.5);
			backdrop-filter: blur(5px);
		}
	}
	&::backdrop {
		background-color: transparent;
		transition: all $duration;
	}
    &__button {
        cursor: pointer;
        align-self: flex-end;
        font-size: rem(24);
        transition: rotate $duration;
        @media (pointer: fine){
            &:hover{
                rotate: 90deg;
            }
        }
    }
	&__container {
        display: flex;
        flex-direction: column;
        gap: rem(32);
		font-size: rem(18);
		min-height: 100lvh;
		padding: rem(32) rem(64);
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(24);
	}
	&__title {
        text-transform: uppercase;
		font-size: lineScale(32,24,480,1792);
		line-height: 1;
		font-weight: $fw-s;
	}
	&__date {
		opacity: 0.5;
	}
	&__subtitle {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(32);
		margin-top: rem(32);
	}
	&__item {
		counter-reset: subitem-counter;
		counter-increment: item-counter;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-title {
			position: relative;
			font-size: rem(22);
			font-weight: $fw-m;
			padding-left: rem(48);
			&::before {
				content: counter(item-counter) ".";
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&-text {
			padding-left: rem(48);
		}
	}
	&__subitem {
		counter-reset: subsubitem-counter;
		counter-increment: subitem-counter;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-title {
			position: relative;
			font-size: rem(20);
			padding-left: rem(48);
			&::before {
				content: counter(item-counter) "." counter(subitem-counter);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&-text {
			padding-left: rem(48);
		}
	}
	&__subsubitem {
		counter-increment: subsubitem-counter;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-title {
			position: relative;
			font-size: rem(20);
			padding-left: rem(64);
			&::before {
				content: counter(item-counter) "." counter(subitem-counter) "." counter(subsubitem-counter);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&-text {
			padding-left: rem(64);
		}
	}
}
@media (max-width: 768px){
	.modal-privacy {
		&__container {
			padding: rem(32) rem(32) rem(96) rem(32);
		}
	}
}