@use "../../utils/abstracts" as *;

.modal-menu {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100lvh;
	overflow-y: auto;
	overflow-x: hidden;
	color: $c-FFFFFF;
	background-color: $c-23293F;
	pointer-events: none;
	translate: 100% 0;
	transition: translate $duration;
	&::backdrop {
		background-color: rgba($c-000000, 0);
		transition: all $duration;
	}
	&.anim {
		translate: 0 0;
		pointer-events: auto;
		&::backdrop {
			background-color: rgba($c-000000, 0.6);
            backdrop-filter: blur(2px);
		}
	}
	&__button {
		cursor: pointer;
		position: absolute;
		z-index: 2;
		top: 0;
		right: rem(32);
		text-transform: uppercase;
		font-size: rem(16);
		font-weight: $fw-m;
		padding: rem(21) 0;
		@include hover-underline-center($position: absolute);
	}
	&__container {
        position: relative;
        min-height: 100%;
		display: grid;
		grid-template-columns: auto repeat(2, 1fr);
		column-gap: rem(96);
		grid-template-areas:
			"logo . . "
			". nav . "
			"copyright copyright copyright ";
		padding: rem(32) rem(64) rem(64);
	}
	&__logo-container {
		grid-area: logo;
		width: rem(46);
		height: fit-content;
	}
	&__logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__nav {
		grid-area: nav;
		display: flex;
		flex-direction: column;
		gap: rem(24);
		&-item {
			text-transform: uppercase;
			color: $c-C0CED7;
			font-size: lineScale(64, 40, 480, 1792);
			line-height: 1;
			font-weight: $fw-s;
			@include hover-fill($hover-color: inherit);
			&.current {
				opacity: 0.25;
				pointer-events: none;
			}
		}
	}
	&__info {
		position: absolute;
		z-index: 0;
		top: -6rem;
		right: -12rem;
		width: rem(730);
		aspect-ratio: 7/8;
		&-border {
			content: "";
			position: absolute;
			inset: -1rem;
			z-index: 1;
			background-color: $c-FA1943;
			border-radius: 0 0 100% 100%;
			@supports (mask-image: url("")) or (-webkit-mask-image: url("")) {
				border-radius: 0;
				mask: url("../../../assets/img/service/shield.svg") center / contain no-repeat;
				-webkit-mask: url("../../../assets/img/service/shield.svg") center / contain no-repeat;
			}
		}
		&-wrapper {
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			padding: rem(128) rem(96);
			background-color: $c-23293F;
			background-image: url("../../../assets/img/service/brick.svg");
			background-size: rem(64);
			background-repeat: repeat;
			border-radius: 0 0 100% 100%;
			@supports (mask-image: url("")) or (-webkit-mask-image: url("")) {
				border-radius: 0;
				mask: url("../../../assets/img/service/shield.svg") center / contain no-repeat;
				-webkit-mask: url("../../../assets/img/service/shield.svg") center / contain no-repeat;
			}
		}
		&-desc {
			font-size: rem(24);
			line-height: 120%;
			font-weight: $fw-m;
		}
		&-button {
			margin-top: rem(64);
			@include button-main($border-color: $c-FA1943, $padding: rem(20) rem(64));
		}
		&-connection {
			display: flex;
			flex-direction: column;
			gap: rem(16);
			margin-top: rem(96);
		}
		&-link {
			font-weight: $fw-m;
			@include hover-underline($color: $c-FFFFFF);
			&--tel {
				font-size: lineScale(40, 32, 480, 1792);
			}
			&--mail {
				font-size: rem(24);
			}
		}
		&-socials {
			display: flex;
			align-items: center;
			gap: rem(8);
			&-item {
				width: rem(40);
				height: rem(40);
				aspect-ratio: 1/1;
				border: rem(1) solid rgba($c-C0CED7, 0.1);
				border-radius: 50%;
				@include flex-center();
				&--vk {
					@include vk-hover();
				}
				&--telegram {
					@include tg-hover();
				}
			}
		}
	}
	&__copyright {
		grid-area: copyright;
		font-size: rem(14);
		line-height: 1;
		color: $c-C0CED7;
		opacity: 0.25;
        margin-top: rem(64);
	}
}
@media (max-width: 1240px) {
	.modal-menu {
		&__container {
			grid-template-columns: repeat(2, 1fr);
			column-gap: rem(96);
			grid-template-areas:
				"nav . "
				"copyright copyright";
		}
		&__logo-container {
			display: none;
		}
	}
}
@media (max-width: 1024px) {
	.modal-menu {
		&__container {
            min-height: 100%;
            position: relative;
			display: flex;
			flex-direction: column;
            overflow: hidden;
            padding-bottom: rem(730);
		}
		&__info {
			position: absolute;
			top: initial;
            bottom: -12rem;
		}
        &__copyright {
            position: absolute;
            left: -9rem;
            bottom: 12rem;
            rotate: -90deg;
            margin: 0;
        }
	}
}
@media (max-width: 640px){
    .modal-menu {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(96);
            padding: rem(96) rem(16) rem(128);
        }
        &__info {
            width: 100%;
            aspect-ratio: auto;
            position: initial;
            &-border {
                display: none;
            }
            &-wrapper {
                padding: 0;
                mask: none;
                background: none;
            }
            &-button {
                width: 100%;
                @include flex-center();
            }
        }
        &__copyright {
            position: initial;
            rotate: initial;
        }
    }
}